@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5e846n');
  src:  url('fonts/icomoon.eot?5e846n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5e846n') format('truetype'),
    url('fonts/icomoon.woff?5e846n') format('woff'),
    url('fonts/icomoon.svg?5e846n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-backward:before {
  content: "\e900";
}
.icon-arrow-double-down:before {
  content: "\e901";
}
.icon-arrow-double-left:before {
  content: "\e902";
}
.icon-arrow-double-right:before {
  content: "\e903";
}
.icon-arrow-double-up:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-downward:before {
  content: "\e906";
}
.icon-arrow-forward:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-arrows:before {
  content: "\e90a";
}
.icon-arrow-up:before {
  content: "\e90b";
}
.icon-arrow-upward:before {
  content: "\e90c";
}
.icon-at:before {
  content: "\e90d";
}
.icon-attach-file:before {
  content: "\e90e";
}
.icon-bell:before {
  content: "\e90f";
}
.icon-blocked:before {
  content: "\e910";
}
.icon-bookmark:before {
  content: "\e911";
}
.icon-calendar:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
}
.icon-checks:before {
  content: "\e914";
}
.icon-check-square:before {
  content: "\e915";
}
.icon-chevron-down:before {
  content: "\e916";
}
.icon-chevron-left:before {
  content: "\e917";
}
.icon-chevron-right:before {
  content: "\e918";
}
.icon-chevron-up:before {
  content: "\e919";
}
.icon-circle:before {
  content: "\e91a";
}
.icon-circle-down:before {
  content: "\e91b";
}
.icon-circle-left:before {
  content: "\e91c";
}
.icon-circle-right:before {
  content: "\e91d";
}
.icon-circle-up:before {
  content: "\e91e";
}
.icon-clock:before {
  content: "\e91f";
}
.icon-close:before {
  content: "\e920";
}
.icon-cogs:before {
  content: "\e96c";
}
.icon-comment:before {
  content: "\e921";
}
.icon-comments:before {
  content: "\e922";
}
.icon-contacts:before {
  content: "\e96d";
}
.icon-cupon-2:before {
  content: "\e96e";
}
.icon-currency-azn:before {
  content: "\e923";
}
.icon-currency-convertor-2:before {
  content: "\e924";
}
.icon-currency-euro:before {
  content: "\e96f";
}
.icon-currency-gbp:before {
  content: "\e970";
}
.icon-currency-rubl:before {
  content: "\e971";
}
.icon-currency-tl:before {
  content: "\e972";
}
.icon-currency-usd:before {
  content: "\e973";
}
.icon-dashboard:before {
  content: "\e925";
}
.icon-ellipsis-h:before {
  content: "\e926";
}
.icon-ellipsis-v:before {
  content: "\e927";
}
.icon-envelope:before {
  content: "\e928";
}
.icon-envelope-o:before {
  content: "\e929";
}
.icon-eye:before {
  content: "\e92a";
}
.icon-folder:before {
  content: "\e92b";
}
.icon-graph:before {
  content: "\e92c";
}
.icon-home-1:before {
  content: "\e975";
}
.icon-info-circle-1:before {
  content: "\e92d";
}
.icon-info-circle-thin:before {
  content: "\e92e";
}
.icon-link:before {
  content: "\e92f";
}
.icon-list-circle:before {
  content: "\e930";
}
.icon-list-number:before {
  content: "\e931";
}
.icon-list-square:before {
  content: "\e932";
}
.icon-loading:before {
  content: "\e933";
}
.icon-map-1:before {
  content: "\e934";
}
.icon-minus:before {
  content: "\e935";
}
.icon-money-metal-2:before {
  content: "\e936";
}
.icon-mouse-pointer:before {
  content: "\e937";
}
.icon-network:before {
  content: "\e938";
}
.icon-newspaper-2:before {
  content: "\e939";
}
.icon-pen-square-o:before {
  content: "\e93a";
}
.icon-pen-write:before {
  content: "\e93b";
}
.icon-pen-write-1:before {
  content: "\e93c";
}
.icon-percent:before {
  content: "\e93d";
}
.icon-phone:before {
  content: "\e93e";
}
.icon-phone-1:before {
  content: "\e93f";
}
.icon-photo:before {
  content: "\e940";
}
.icon-photo-gallery:before {
  content: "\e941";
}
.icon-player-play:before {
  content: "\e942";
}
.icon-play-thin:before {
  content: "\e943";
}
.icon-plus:before {
  content: "\e944";
}
.icon-plus-circle:before {
  content: "\e945";
}
.icon-plus-circle-o:before {
  content: "\e946";
}
.icon-power-off:before {
  content: "\e947";
}
.icon-print-1:before {
  content: "\e948";
}
.icon-question:before {
  content: "\e949";
}
.icon-question-circle:before {
  content: "\e94a";
}
.icon-rss:before {
  content: "\e94b";
}
.icon-search:before {
  content: "\e94c";
}
.icon-send:before {
  content: "\e94d";
}
.icon-settings:before {
  content: "\e94e";
}
.icon-share:before {
  content: "\e94f";
}
.icon-social-facebook:before {
  content: "\e950";
}
.icon-social-google:before {
  content: "\e951";
}
.icon-social-google-plus:before {
  content: "\e952";
}
.icon-social-instagram:before {
  content: "\e953";
}
.icon-social-linkedin:before {
  content: "\e954";
}
.icon-social-messenger:before {
  content: "\e955";
}
.icon-social-odnoklassniki:before {
  content: "\e956";
}
.icon-social-skype:before {
  content: "\e957";
}
.icon-social-twitter:before {
  content: "\e958";
}
.icon-social-viber:before {
  content: "\e959";
}
.icon-social-vk:before {
  content: "\e95a";
}
.icon-social-whatsapp:before {
  content: "\e95b";
}
.icon-social-youtube:before {
  content: "\e95c";
}
.icon-social-youtube-button:before {
  content: "\e95d";
}
.icon-stack-exchange:before {
  content: "\e95e";
}
.icon-star:before {
  content: "\e95f";
}
.icon-star-circle:before {
  content: "\e960";
}
.icon-star-half:before {
  content: "\e961";
}
.icon-star-o:before {
  content: "\e962";
}
.icon-stars:before {
  content: "\e963";
}
.icon-tag:before {
  content: "\e964";
}
.icon-tags:before {
  content: "\e965";
}
.icon-translate:before {
  content: "\e966";
}
.icon-trash:before {
  content: "\e967";
}
.icon-user:before {
  content: "\e968";
}
.icon-video-gallery:before {
  content: "\e969";
}
.icon-warning:before {
  content: "\e96a";
}
.icon-warning-1:before {
  content: "\e96b";
}
.icon-ads:before {
  content: "\e974";
}
