/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
    height: 0;
    width: 100%;
    position: absolute;
    top: calc(50% - 30px);
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.owl-theme:hover .owl-nav {
    padding: 0 10px;
    opacity: 1;
}

.owl-theme .owl-nav [class*='owl-'] {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: .5;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    opacity: .8;
}

.control-cs1 .owl-nav [class*='owl-'] {
    width: 43px;
    height: 43px;
    line-height: 43px;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-nav .owl-prev {
    float: left;
}

.owl-theme .owl-nav .owl-next {
    float: right;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 1px solid #666;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #666
}

.owl-theme .owl-dots .owl-dot.active span {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 767px) {

    .owl-theme .owl-nav {
        top: calc(50% - 20px);
    }

    .owl-theme .owl-nav [class*='owl-'] {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

}