@charset "utf-8";

/*####################################################################################################################*/
/*MAIN PAGE*/
/*====================================================================================================================*/
/*====================================================================================================================*/

/*====================================================================================================================*/
/*====================================================================================================================*/

@media (min-width: 768px) {

    .main-page aside {
        /*border-left: 1px solid #ddd;*/
    }

    .news-section.style-top .item-col:nth-child(1) {
        width: 100%;
    }

    .news-section.style-top .item-col:nth-child(1) .item {
        background-color: #666;
    }

    .news-section.style-top .item-col:nth-child(1) .item .thumb {
        width: 62%;
        float: left;
        padding-bottom: 40%;
    }

    .news-section.style-top .item-col:nth-child(1) .item .info {
        float: left;
        width: 38%;
        padding: 20px;
    }

    .news-section.style-top .item-col:nth-child(1) .meta-data {
        color: #ddd;
    }

    .news-section.style-top .item-col:nth-child(1) .item .info .title {
        font-size: 20px;
        margin: 5px 0 10px;
        line-height: 24px;
        color: #fff;
        font-weight: bold;
    }

    .news-section.style-top .item-col:nth-child(1) .item .info .description {
        color: #ddd;
    }

    .news-section.style-top .item-col:nth-child(n + 2) .item .thumb {
        width: 100%;
        padding-bottom: 50%;
    }

    .news-section.style-top .item-col:nth-child(n + 2) .item .info {
        padding: 10px 12px 15px;
    }

    .news-section.style-top .item-col:nth-child(n + 2) .item .info .title {
        font-size: 15px;
        line-height: 17px;
        height: 51px;
        color: #222;
        font-weight: bold;
    }

    .news-section.style-top .item-col:nth-child(n + 2) .item:hover .info .title {
        color: #ca891c;
    }

    .news-section.style-top .item-col:nth-child(n + 2) .item .info .description {
        display: none;
    }

    /*====================================================================================================================*/
    /*====================================================================================================================*/
    .news-section.style-1 .item-col:nth-child(n):nth-child(-n + 3) {
        width: 33.333333%;

    }

    .news-section.style-1 .item-col:nth-child(n):nth-child(-n + 3) .item .thumb {
        width: 100%;
        padding-bottom: 50%;
    }

    .news-section.style-1 .item-col:nth-child(n):nth-child(-n + 3) .item .info {
        padding: 10px 15px 15px;
    }

    .news-section.style-1 .item-col .item .info strong {
        color: #ca891c;
        display: block;
        font-weight: normal;
        font-size: 13px;
        margin-bottom: 3px;
    }

    .news-section.style-1 .item-col:nth-child(n):nth-child(-n + 3) .item .info .title {
        font-size: 18px;
        line-height: 22px;
        height: 66px;
        color: #222;
        font-weight: bold;
    }

    .news-section.style-1 .item-col:nth-child(n):nth-child(-n + 3) .item:hover .info .title {
        color: #ca891c;
    }

    .news-section.style-1 .item-col:nth-child(n + 4) .item .thumb {
        width: 140px;
        height: 100px;
        float: left;
    }

    .news-section.style-1 .item-col:nth-child(n + 4) .item .info {
        width: calc(100% - 140px);
        float: left;
        padding: 10px;
        border-top: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
    }

    .news-section.style-1 .item-col:nth-child(n + 4) .item .info .title {
        font-size: 15px;
        line-height: 18px;
        height: 54px;
        color: #222;
        font-weight: bold;
    }

    .news-section.style-1 .item-col:nth-child(n + 4) .item:hover .info .title {
        color: #ca891c;
    }

}

@media (max-width: 767px) and (min-width: 550px) {

    .news-section .item-col {
        width: 50%;
        float: left;
    }

    .news-section .item-col:last-child {
        display: none;
    }

}

@media (max-width: 767px) {

    .news-section .item .thumb {
        padding-bottom: 56%;
    }

    .news-section .item .info {
        padding: 10px 12px;
    }

    .news-section .item .info .title {
        font-size: 16px;
        line-height: 20px;
        height: 60px;
        font-weight: bold;
        color: #222;
    }

}

/*====================================================================================================================*/
/*====================================================================================================================*/

.item .thumb .type {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #ca891c;
    text-align: center;
}

.item .thumb .type.md {
    width: 35px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    z-index: 1;
}

.item .thumb .type.xs {
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
}

.meta-data {
    color: #ca891c;
    font-size: 13px;
    margin-bottom: 5px;
}

.time-line .content {
    max-height: 700px;
    overflow: auto;
}

.time-line .item {
    padding: 10px;
}

.time-line .item .thumb {
    width: 80px;
    height: 80px;
    float: left;
}

.time-line .item .info {
    float: left;
    width: calc(100% - 80px);
    padding-left: 10px;
}

.time-line .item .info .title {
    font-size: 14px;
    line-height: 16px;
    color: #222;
}

.time-line .item:hover .info .title {
    color: #ca891c;
}

.time-line .item .info .meta-data {
    font-size: 12px;
    color: #666;
}

@media (max-width: 767px) {
    .time-line {
        margin: 0 -10px -10px !important;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.article .thumb {
    padding-bottom: 56%;
}

.article .article-info {
    position: relative;
    margin-top: -50px;
    display: block;
    line-height: 50px;
    color: #fff;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

.article .article-info a {
    color: #fff;
}

@media (min-width: 768px) {

    .article .article-right-side {
        float: right;
        width: calc(100% - 150px);
    }

    .article .title {
        padding-right: 20px;
        line-height: 40px;
        font-size: 32px;
        font-weight: bold;
        text-shadow: 1px 0 0 #ca891c;
        letter-spacing: 1px;
        color: #ca891c;
    }

    .article .description {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        padding-right: 20px;
    }

    .article .article-content {
        font-size: 16px;
        padding-right: 20px;
    }

    .article .article-content img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        min-width: 70%;
        width: auto;
        height: auto !important;
    }

    .article .article-footer {
        border-top: 5px solid #ccc;
        margin-right: 20px;
    }

    .article .article-footer .article-tags span,
    .article .article-footer .article-tags a {
        display: block;
        float: left;
        padding: 6px 10px;
        font-size: 16px;
    }

    .article .article-footer .article-tags a {
        font-weight: bold;
        color: #ca891c;
    }

    .article .article-footer .article-tags a:hover {
        background-color: #ca891c;
        color: #fff;
    }

    .article .article-footer .article-author .thumb {
        float: left;
        width: 50px;
        height: 50px;
        padding: 0;
    }

    .article .article-footer .article-author .name {
        line-height: 50px;
        margin-left: 10px;
        font-size: 20px;
        text-space: pre;
    }

    .article .article-footer .follow-button {
        height: 50px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .article .article-left-side {
        float: left;
        width: 150px;
    }

    .article .article-left-side .share-button label {
        font-size: 18px;
        width: 100%;
        text-align: center;
        color: #ca891c;
    }

    .article .article-left-side .share-button a {
        display: block;
        margin: 0 auto 5px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 15px;
    }

    .article .article-left-side .share-button a:hover {
        font-size: 20px;
        color: #ca891c;
        border-color: #ca891c;
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    .article .article-right-side {
        width: calc(100% - 100px);
    }

    .article .article-left-side {
        width: 100px;
    }

}

@media (max-width: 767px) {

    .article .article-right-side {
    }

    .article .article-info {
        margin-top: -35px;
        line-height: 35px;
    }

    .article .article-info a {
        font-size: 12px;
    }

    .article .title {
        line-height: 24px;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 0 0 #ca891c;
        letter-spacing: 1px;
        color: #ca891c;
        padding: 0 10px;
    }

    .article .description {
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        padding: 0 10px;
    }

    .article .article-content {
        font-size: 14px;
        padding: 0 10px;
    }

    .article .article-content img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        min-width: 70%;
        width: auto;
        height: auto !important;
    }

    .article .article-content p {
        margin-bottom: 10px;
    }

    .article .article-footer {
        border-top: 3px solid #ccc;
        margin: 0 10px;
    }

    .article .article-footer .article-tags span,
    .article .article-footer .article-tags a {
        display: block;
        float: left;
        padding: 3px 7px;
        font-size: 13px;
    }

    .article .article-footer .article-tags a {
        font-weight: bold;
        color: #ca891c;
    }

    .article .article-footer .article-tags a:hover {
        background-color: #ca891c;
        color: #fff;
    }

    .article .article-footer .article-author .thumb {
        float: left;
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 50%;
    }

    .article .article-footer .article-author .name {
        line-height: 40px;
        margin-left: 10px;
        font-size: 18px;
        text-space: pre;
    }

    .article .article-footer .follow-button {
        margin-top: 10px;
        height: 40px;
        font-size: 16px;
        text-transform: uppercase;
    }

    .article .article-left-side {
        width: 100%;
        padding: 0;
        z-index: 999;
        background-color: #f9f9f9;
    }

    .article .article-left-side.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #ca891c;
    }

    .article .article-left-side .share-button a {
        display: block;
        width: 20%;
        height: 45px;
        line-height: 45px;
        float: left;
        text-align: center;
        font-size: 15px;
        color: #666;
    }

    .article .article-left-side.fixed a {
        color: #fff;
    }

    .article .article-left-side .share-button a:not(:first-child a) {
        border-left: 1px solid #999;
    }

    .article .article-left-side .share-button a:hover {
        font-size: 20px;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

@media (min-width: 551px) {

    .news-list .item a {
        padding-bottom: 100%;
        display: block;
    }

    .news-list .item .thumb {
        padding-bottom: 56%;
        width: 100%;
        position: absolute;
    }

    .news-list .item .info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }
}

.news-list .item .info .meta-data {
    font-size: 13px;
    color: #ca891c;
}

.news-list .item .info .title {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    height: 69.99px;
}

.news-list .item:hover .info .title {
    color: #ca891c;
}

@media (max-width: 767px) and (min-width: 551px) {
    .news-list .item-col {
        width: 50%;
        float: left;
    }
}

@media (max-width: 550px) {

    .news-list .item .thumb {
        padding-bottom: 56%;
        position: relative;
    }

    .news-list .item .info {
        position: relative;
    }

    .news-list .item .info .title {
        height: auto;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.gallery-list .item-col .item .thumb {
    padding-bottom: 56%;
}

.gallery-list .item-col .item .title {
    font-size: 20px;
    line-height: 24px;
}

.gallery-list .item-col .item .caption span,
.gallery-list .item-col .item .caption time {
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
}

@media (max-width: 767px) and (min-width: 501px) {
    .gallery-list .item-col {
        float: left;
        width: 50%;
    }
}

@media (max-width: 767px) {

    .gallery-list .item-col .item .caption {
        position: relative;
        background: #222;
    }

    .gallery-list .item-col .item .title {
        font-size: 16px;
        line-height: 20px;
    }

}

/*====================================================================================================================*/
/*====================================================================================================================*/

.gallery-post-col {
    background-image: url(../images/bg_video.jpg);
    background-size: cover;
    background-position: center;

}

.gallery-post-col:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.gallery-post-col .top-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.gallery-post-col .top-wrapper .row-0 {
    background-color: rgba(255, 255, 255, 0.2);
}

.gallery-post-col .top-wrapper .row-0 .thumb {
    padding-bottom: 56%;
}

.gallery-post-col .top-wrapper .row-0 .thumb img {
    object-fit: contain !important;
}

.gallery-post-col .top-wrapper .info .title {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}

.gallery-post-col .top-wrapper .info .description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 18px;
    max-height: 150px;
    overflow: auto;
}

.gallery-post-col .top-wrapper .info .gallery-tags {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.gallery-post-col .top-wrapper .info {
    color: #fff;
}

.gallery-post-col .top-wrapper .info .gallery-tags span,
.gallery-post-col .top-wrapper .info .gallery-tags a {
    color: #fff;
    display: inline-block;
    padding: 2px 6px;
}

.gallery-post-col .top-wrapper .info .gallery-tags a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.gallery-post-col .top-wrapper .info .share-button a {
    display: block;
    width: calc(20% - 1px);
    height: 40px;
    line-height: 40px;
    float: left;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    margin-right: 1px;
}

@media (max-width: 991px) {
    .gallery-post-col .top-wrapper {
        max-width: 800px;
    }
}

@media (max-width: 767px) {

    .gallery-post-col .top-wrapper .breadcrumb {
        padding-left: 10px !important;
    }

    .gallery-post-col .top-wrapper .info .title {
        font-size: 18px;
        line-height: 22px;
    }

    .gallery-post-col .top-wrapper .info .description {
        font-size: 14px;
        line-height: 16px;
    }

    .gallery-post-col .top-wrapper .info .share-button a {
        height: 35px;
        line-height: 35px;
    }

}

/*====================================================================================================================*/
/*====================================================================================================================*/

.next-items-carousel .item .thumb {
    padding-bottom: 56%;
    opacity: .6;
}

.next-items-carousel .item:hover .thumb {
    opacity: 1;
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.static-side-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    font-size: 16px;
}

.static-side-menu a:hover {
    background-color: #f5f5f5;
}

.static-side-menu a.current-page {
    background-color: #ca891c;
    color: #fff;
}

.static-side-menu a i {
    width: 30px;
}

.static-page-wrapper p {
    font-size: 16px;
}

@media (max-width: 991px) and (min-width: 768px) {

    .static-side-menu {
        padding: 0 !important;
    }

    .static-side-menu a {
        float: left;
        width: 20%;
        padding: 15px 0;
        font-size: 14px;
        text-align: center;
        border-right: 1px solid #ededed;
    }

}

@media (max-width: 767px) {

    .static-side-menu a {
        padding: 8px 20px;
        font-size: 14px;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.map iframe {
    height: 300px;
    width: 100%;
    border: 0 !important;
}

.card tr:first-child td {
    border-top: 0;
}

.card tr td:first-child {
    width: 120px;
    white-space: pre;
    padding-left: 0;
}

.card tr td a {
    display: block;
    color: #2d71e2;
}

.contact textarea {
    min-height: 130px;
}

@media (min-width: 991px) {

    .card {
        height: 382px;
    }

    .card tr td {
        padding: 15px !important;
    }

}

@media (max-width: 767px) {

    .map iframe {
        height: 250px;
    }

    .card tr td:first-child {
        width: 100px;
    }

    .card tr td {
        font-size: 13px;
    }

}
/*====================================================================================================================*/
/*====================================================================================================================*/

.weather .header {
    background-size: cover;
    background-position: center;
}

.weather .header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(26, 56, 95, 0.7);
}

.weather .header .days {
    color: #fff;
}

.weather .header .day-name {
    background-color: rgba(0, 0, 0, 0.2);
}

.weather .header .info-weather .city-name {
    font-size: 20px;
}

.weather .header .info-weather .deg {
    font-size: 90px;
    line-height: 100px;
}

.weather .header .info-weather .deg i {
    font-size: 60px;
}

.weather .header .days .next-day:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

.weather .header .days .next-day .info-weather {
    height: 230px;
}

.weather .header .days .next-day .icon {
    font-size: 20px;
    display: block;
    text-align: center;
}

.weather .header .days .next-day .deg {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    display: block;
}

.weather .header .days .next-day span {
    display: block;
    text-align: center;
}

.weather .table th {
    text-align: center;
}

.weather .table td {
    vertical-align: middle;
    padding: 15px 10px;
}

.weather .table td:not(:first-child) {
    text-align: center;
}

@media (max-width: 1199px) {

    .weather .header .info-weather .deg {
        font-size: 60px;
        line-height: 70px;
    }

    .weather .header .info-weather .deg i {
        font-size: 50px;
    }

}

@media (max-width: 767px) {

    .weather .header .days .next-day .info-weather {
        height: 100px;
    }

    .weather .header .days .next-day .icon {
        line-height: 20px;
    }

    .weather .header .days .next-day .deg {
        font-size: 25px;
        line-height: 20px;
    }

    .weather .header .days .next-day span {
        line-height: 14px;
    }

}

/*====================================================================================================================*/
/*====================================================================================================================*/

.currency .convertor .input {
    height: 40px;
}

.currency .table th {
    text-align: center;
}

.currency .table td {
    padding: 15px 10px;
}

.currency .table td:first-child,
.currency .table td:last-child {
    width: 55px;
}

.currency .table td:nth-child(3),
.currency .table td:nth-child(4),
.currency .table td:nth-child(5) {
    width: 140px;
    text-align: center;
}

.currency .table td:last-child {
    text-align: center;
}

.currency .table td .up {
    color: #4cae4c;
}

.currency .table td .middle {
    color: #999;
}

.currency .table td .down {
    color: #e80800;
}

/*====================================================================================================================*/
/*====================================================================================================================*/



/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*####################################################################################################################*/