﻿/*====================================================================================================================*/
/*====================================================================================================================*/

.main-header {
    z-index: 999;
    top: 0;
    position: relative;
}

.main-header .middle-wrapper {
    position: relative;
    background-color: #ca891c;
    z-index: 1;
}

@media (min-width: 992px) {

    .nav-fixed .main-header {

        position: fixed;
        top: -35px;
        left: 0;
        width: 100%;

    }

    .main-header .middle-wrapper {
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .nav-fixed .main-header .middle-wrapper {
        padding: 5px 0;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    body {
        padding-top: 60px !important;
    }

}

@media (max-width: 991px) {
    .main-header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;

        -webkit-box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.21);
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.21);
    }

}

@media (max-width: 767px){


    body {
        padding-top: 50px !important;
    }

}

/*====================================================================================================================*/
/*====================================================================================================================*/

.main-header .nav-toggle {
    width: 40px;
    height: 40px;
    padding: 19px 12px;
    text-align: center;
    cursor: pointer;
    float: left;
    background-color: transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-header .nav-toggle i,
.main-header .nav-toggle:before,
.main-header .nav-toggle:after {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-header .nav-toggle:before,
.main-header .nav-toggle:after {
    position: absolute;
    content: '';
    transform-origin: left;
}

.main-header .nav-toggle:before {
    margin-top: -7px;
}

.main-header .nav-toggle:after {
    margin-top: 5px;
}

.nav-shown .nav-toggle i {
    transform: translateX(-20px);
    opacity: 0;
}

.nav-shown .nav-toggle:before {
    margin-left: 4px;
    margin-top: -7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-shown .nav-toggle:after {
    margin-left: 4px;
    margin-top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 991px) and (min-width: 768px) {
    .main-header .nav-toggle {
        margin: 10px 0;
    }
}

@media (max-width: 767px) {

    .main-header .nav-toggle {
        padding: 25px 14px;
        width: 50px;
    }

}

/*====================================================================================================================*/
/*====================================================================================================================*/

.main-header .logo {
    display: inline-block;
    float: left;
    line-height: 50px;
    max-width: 250px;
    margin-left: 20px;
}

.main-header .logo img {
    width: auto;
    height: 45px;
    position: relative;
    z-index: 1;
}

.logo .slogan {
    position: absolute;
    top: 0;
    width: 0;
    text-indent: -2000px;
}

@media (max-width: 991px) and (min-width: 768px) {

    .main-header .logo {
        margin: 5px;
    }

    .main-header .logo img {
        height: 35px;
    }
}

@media (max-width: 767px) {

    .main-header .logo {
        width: 150px;
        height: 50px;
        line-height: 45px;
        margin: 0;
    }

    .main-header .logo img {
        height: 30px;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

@media (min-width: 992px) {

    .main-header .right-side {
        background-color: #fff;
        padding: 0 15px;
    }

    .main-header .right-side li {
        float: left;
    }

    .main-header .right-side li a {
        display: block;
        line-height: 35px;
        padding: 0 12px;
        color: #222;
        font-size: 13px;
        white-space: pre;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .main-header .right-side li:hover a {
        background-color: #ca891c;
        color: #fff;
    }

    .main-header .right-side .social-menu li a {
        width: 45px;
        line-height: 35px;
        font-size: 14px;
        padding: 0;
        text-align: center;
    }

    .main-header .right-side .right-side-menu li a i {
        margin-right: 7px;
    }

}

@media (max-width: 991px) {

    .main-header .right-side {
        position: fixed;
        top: 60px;
        right: -250px;
        width: 240px;
        height: calc(100% - 60px);
        background-color: #fff;
        overflow: auto;

        -webkit-box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.21);
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.21);
    }

    .side-shown .main-header .right-side {
        right: 0;
    }

    .main-header .right-side ul {
        width: 100%;
        padding: 10px 0 !important;
        border-bottom: 2px solid #ededed;
    }

    .main-header .right-side li {
        width: 100%;
    }

    .main-header .right-side li a {
        display: block;
        padding: 5px 20px;
        color: #222;
    }

    .main-header .right-side li.current-page a {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .main-header .right-side li a i {
        width: 35px;
    }

    .main-header .right-side .side-footer {
        padding: 15px 20px;
        float: left;
        width: 100%;
    }

    .main-header .right-side .side-footer small {
        display: block;
        margin-bottom: 3px;
        color: #555;
    }
}

@media (max-width: 767px) {

    .main-header .right-side {
        top: 50px;
        height: calc(100% - 50px);

    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.lang-toggle .drop-toggle {
    margin: 5px 0;
    height: 40px;
    line-height: 40px;
    display: block;
    padding: 0 15px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.lang-toggle .drop-menu {
    max-width: 100%;
    min-width: 100% !important;
    text-align: center;
}

@media (max-width: 991px) and (min-width: 768px) {

    .lang-toggle .drop-toggle {
        margin: 13px 0 12px;
        height: 35px;
        line-height: 35px;
    }
}

@media (max-width: 991px) {

    .lang-mobile {
        width: 100%;
        padding: 10px 10px 10px 20px;
        border-bottom: 2px solid #ededed;
    }

    .lang-mobile .btn {
        border: 0;
        padding: 1px 0;
        box-shadow: none !important;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.toggle-buttons .toggle {
    display: block;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    margin: 5px;
}

@media (max-width: 991px) and (min-width: 768px) {

    .toggle-buttons .toggle {
        margin: 10px 0;
    }
}

@media (max-width: 767px) {

    .toggle-buttons {
        margin-right: 5px;
    }

    .toggle-buttons .toggle {
        margin: 5px 0;
        width: 35px;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.search-box {
    padding: 5px;
    z-index: 2;
}

.nav-fixed .main-header .search-box {
    padding: 7px 15px;
}

.search-box .input,
.search-box .btn {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    margin: 0 !important;
    font-size: 16px;
    color: #fff;
}

.search-box .search-close {
    font-size: 30px !important;
    line-height: 0;
}

@media (max-width: 991px) {

    .search-box {
        position: absolute !important;
        background-color: #fff;
        top: -100%;
        left: 0;
    }

    .search-shown .search-box {
        top: 0;
    }

    .search-box .input,
    .search-box .btn {
        box-shadow: none !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    .search-box {
        padding: 10px;
    }

    .search-box .input,
    .search-box .btn {
        height: 40px;
        font-size: 16px;
    }

}

@media (max-width: 767px) {

    .search-box {
        padding: 5px !important;
    }

    .search-box .input,
    .search-box .btn {
        height: 40px;
        font-size: 14px;
        background-color: #fff;
        color: #ca891c;
    }

    .search-box .btn {
        width: 34px;
        padding: 0;
        text-align: center;
    }

    .search-box .btn:first-child {
        width: 35px;
        font-size: 16px;
        line-height: 0;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.weather_currency {
    padding: 10px 15px 0 15px;
}

.weather_currency .icon {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: #fff;
    color: #ca891c;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

.weather_currency .carousel {
    width: 150px;
}

.weather_currency .item div {
    float: left;
    line-height: 37px;
    color: #fff;
}

.weather_currency .currency .item div:first-child,
.weather_currency .currency .item div:last-child {
    width: 20px;
    text-align: center;
}

.weather_currency .currency .item div:nth-child(2) {
    width: 50px;
}

.weather_currency .currency .item div:nth-child(3) {
    width: 60px;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .currency {
        margin-right: 7px !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    .weather_currency {
        padding: 12px 0 11px;
    }

}

/*====================================================================================================================*/
/*====================================================================================================================*/

@media (min-width: 992px) {

    .main-nav {
        position: relative;
        padding: 0 15px;
        background-color: #ca891c;
        width: 100%;
        top: 0;
    }

    .main-nav.up {
        top: -110px;
    }

    .main-nav > ul > li {
        float: left;
        position: relative;
    }

    .main-nav > ul > li:first-child {
        width: 60px;
        text-align: center;
    }

    .main-nav > ul > li a {
        display: block;
        position: relative;
        padding: 0 13px;
        line-height: 45px;
        font-size: 15px;
        color: #fff;
        font-weight: 300;
        letter-spacing: 1px;
        cursor: pointer;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .main-nav > ul > li:hover > a,
    .main-nav > ul > li.current-page > a {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .main-nav > ul > li > a:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 3px;
        background-color: #fff;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .main-nav > ul > li.current-page > a:before,
    .main-nav > ul > li:hover > a:before {
        left: 0;
        width: 100%;
    }

    .main-nav > ul > li > ul {
        position: absolute;
        display: none;
        width: 240px;
        background-color: #fff;
        right: 0;
        padding: 10px 0 !important;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .main-nav > ul > li:hover > ul {
        display: block;
    }

    .main-nav > ul > li > ul > li {
        width: 100%;
        text-align: left;
    }

    .main-nav > ul > li > ul > li > a {
        position: relative;
        padding: 0 20px;
        line-height: 40px;
    }

    .main-nav > ul > li > ul > li:hover a {
        background-color: #f2f2f2;
    }

    .main-nav > ul > li > ul > li > a:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 3px;
        height: 0;
        background-color: #ca891c;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .main-nav > ul > li > ul > li.current-page > a:before,
    .main-nav > ul > li > ul li:hover > a:before {
        top: 0;
        height: 100%;
    }

}

@media (max-width: 991px) {

    .main-nav {
        position: fixed;
        height: calc(100% - 50px);
        width: 240px !important;
        background-color: #fff;
        top: 60px;
        left: -250px;
        overflow: auto;
    }

    .nav-shown .main-nav {
        left: 0;
    }

    .main-nav > ul {
        padding: 10px 0 !important;
    }

    .main-nav > ul li {
        width: 100%;
    }

    .main-nav > ul > li a {
        display: block;
        padding: 0 20px;
        line-height: 40px;
        text-align: left;
        color: #333;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .main-nav > ul > li.current-page > a,
    .main-nav > ul > li:hover > a,
    .main-nav > ul > li > ul > li:hover > a,
    .main-nav > ul > li > ul > li.current-page > a {
        background-color: #f2f2f2;
    }
}

@media (max-width: 767px) {
    .main-nav {
        top: 50px;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.main-footer {
    background-color: rgba(255, 255, 255, 0.4);
    color: #999;
}

.main-footer .footer-menu a {
    display: inline-block;
    margin: 0 5px;
    color: #999;
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.newsletter-modal .newsletter-cover {
    padding-bottom: 40%;
    background-color: #54bddd;
    background-image: url(../images/newsletter.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.newsletter-modal .newsletter-title {
    font-size: 20px;
    font-weight: bold;
}

.newsletter-modal .input {
    height: 45px;
    border-color: #54bddd;
}

.newsletter-modal .btn {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    margin-left: -20px !important;
    margin-top: -8px;
    font-size: 25px;
    line-height: 47px;
    background-color: #54bddd;
    color: #fff;
}

@media (max-width: 767px) {

    .newsletter-modal .newsletter-title {
        font-size: 16px;
    }

    .newsletter-modal .input {
        height: 35px;
    }

    .newsletter-modal .btn {
        width: 50px;
        height: 50px;
        margin-top: -8px;
        font-size: 20px;
        line-height: 37px;
    }

}

/*====================================================================================================================*/
/*====================================================================================================================*/

.back-top {
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #ca891c;
    text-align: center;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    z-index: 999;

}

@media (max-width: 767px) {

    .back-top {
        bottom: 40px;
        right: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 26px;

    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

[class^="banner-"], [class*="banner-"] {
    position: relative;
    width: 100%;
    background-color: #fff;
    background-image: url("../images/bg_banner.png");
    background-size: cover;
    background-position: center;
}

.banner-12p {
    padding-bottom: 12%;
}

.banner-20p {
    padding-bottom: 20%;
}

.banner-100p {
    padding-bottom: 100%;
}

.banner-355px {
    padding-bottom: 355px;
}

[class^="banner-"] .content, [class*="banner-"] .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

[class^="banner-"] .content:empty:before, [class*="banner-"] .content:empty:before {
    content: "Sizin Reklamınız Burada";
    font-size: 30px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    text-align: center;
}

[class^="banner-"] .content img, [class*="banner-"] .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    [class^="banner-"] .content:empty:before, [class*="banner-"] .content:empty:before {
        font-size: 16px;
        line-height: 16px;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/
/*####################################################################################################################*/

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -999;
    opacity: 0;
}

.nav-shown .overlay,
.side-shown .overlay,
.search-shown .overlay {
    z-index: 991;
    opacity: 1;
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.breadcrumb {
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb > li {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 1px;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "â—"
}

.breadcrumb > li a {
    color: #222;
}

.breadcrumb > .active {
    color: #999
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.content-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    position: relative;
    z-index: 1;
}

.content-title.white {
    color: #fff;
}

.content-title .view-more {
    float: right;
    font-size: 15px;
    color: #fff;
}

@media (max-width: 767px) {

    .content-title {
        font-size: 18px;
        line-height: 16px;
    }

    .content-title .view-more {
        font-size: 12px;
        line-height: 26px;
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 4px solid #ca891c;
    top: 50%;
    overflow: hidden;
    animation: loader 4s infinite ease;
    -webkit-animation: loader 4s infinite ease
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #ca891c;
    animation: loader-inner 4s infinite ease-in;
    -webkit-animation: loader-inner 4s infinite ease-in
}

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@-webkit-keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.widget-weather .widget-body {
    background-image: url('../images/bg_weather.jpg');
    background-position: center;
    background-size: cover;
    min-height: 150px;
}

.widget-weather .widget-body {
    position: relative;
}

.widget-weather .widget-body:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 117, 173, 0.6);
}

.widget-weather .widget-body .top i {
    color: #fff;
    font-size: 16px;
}

.widget-weather .widget-body .top .drop-toggle {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.widget-weather .widget-body .top .date {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    position: relative;
}

.widget-weather .widget-body .middle {
    color: #fff;
    position: relative;
}

.widget-weather .widget-body .middle i {
    font-size: 60px;
    width: 35%;
    text-align: center;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.5);
}

.widget-weather .widget-body .middle .deg {
    font-size: 100px;
    line-height: 71px;
    width: 65%;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.widget-weather .widget-body .bottom {
    position: relative;
    z-index: 1;
    background-color: #fff;
    text-align: center;
    color: #666;
}

.widget-weather .widget-body .bottom .col-md-2:not(:last-child) {
    border-right: 1px solid #ededed;
}

.widget-weather .widget-body .bottom span {
    display: block;
    margin-top: 5px;
}

.widget-weather .widget-body .bottom i {
    display: block;
    font-size: 20px;
    margin: 5px 0 3px;
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.widget-currency .table td {
    width: 33.33%;
}

.widget-currency .table td:nth-child(2) {
    text-align: center;
}

.widget-currency .table td:nth-child(2) .up {
    color: #4cae4c;
}

.widget-currency .table td:nth-child(2) .middle {
    color: #999;
}

.widget-currency .table td:nth-child(2) .down {
    color: #e80800;
}

.widget-currency .table td:nth-child(3) {
    text-align: right;
}

/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*####################################################################################################################*/