﻿.img-container,
.img-preview {
    background-color: #f7f7f7;
    width: 100%;
    text-align: center;
}

.img-container {
    min-height: 200px;
    max-height: 565px;
    margin-bottom: 1rem;
}

/*@media (min-width: 768px) {
    .img-container {
        min-height: 469px;
    }
}*/

.img-container > img {
    max-width: 100%;
}

.docs-preview {
    margin-right: -1rem;
}

.img-preview {
    float: left;
    margin-right: .5rem;
    margin-bottom: .5rem;
    overflow: hidden;
}

    .img-preview > img {
        max-width: 100%;
    }

.preview-lg {
    width: calc(1162px/4);
    height: calc(775px/4);
}

.preview-md {
    width: calc(1140px/4);
    height: calc(678px/4);
}

.preview-sm {
    width: calc(565px/2);
    height: calc(343px/2);
}

.preview-xs {
    width: calc(172px/4);
    height: calc(172px/4);
}

.docs-data > .input-group {
    margin-bottom: .5rem;
}
